<?php echo $header; ?>
<?php echo $nav; ?>
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state breadcrumbs-fixed" id="breadcrumbs">
            <ul class="breadcrumb">
                <?php for($i = 0; $i < count($breadcrumbs); $i++) : ?>
                <?php if($i != (count($breadcrumbs) - 1)) : ?>
                <?php if($i == 0) : ?>
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="<?php echo $breadcrumbs[$i]['href']; ?>"><?php echo $breadcrumbs[$i]['text']; ?></a>
                </li>
                <?php else : ?>
                <li>
                    <a href="<?php echo $breadcrumbs[$i]['href']; ?>"><?php echo $breadcrumbs[$i]['text']; ?></a>
                </li>
                <?php endif; ?>
                <?php else : ?>
                <li class="active"><?php echo $breadcrumbs[$i]['text']; ?></li>
                <?php endif; ?>
                <?php endfor; ?>
            </ul><!-- /.breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input"
                            autocomplete="off" />
                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                    </span>
                </form>
            </div><!-- /.nav-search -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1 class="pull-left">
                    <?php echo $heading_title; ?>
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        <?php echo $text_form; ?>
                    </small>
                </h1>
                <div class="text-right">
                    <button type="submit" form="form-banner" class="btn btn-white btn-info btn-bold"
                        data-toggle="tooltip" title="<?php echo $button_save; ?>"><i
                            class="ace-icon fa fa-floppy-o"></i></button>
                    <a href="<?php echo $cancel; ?>" class="btn btn-white btn-light btn-bold" data-toggle="tooltip"
                        title="<?php echo $button_cancel; ?>"><i class="ace-icon fa fa-reply"></i></a>
                </div>
            </div><!-- /.page-header -->
            <?php if($warning_err) : ?>
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i>
                <?php echo $warning_err; ?>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            <?php endif; ?>

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <form id="form-banner" class="form-horizontal" action="<?php echo $action; ?>" method="POST"
                        enctype="multipart/form-data">
                        <div class="box-body">
                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4 class="widget-title"><?php echo $text_form; ?></h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="form-group">
                                            <label for="input-group"
                                                class="col-sm-2 control-label"><?php echo $entry_name; ?></label>

                                            <div class="col-sm-10">
                                                <input type="text" value="<?php echo $name; ?>" class="form-control"
                                                    readonly="readonly" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="input-group"
                                                class="col-sm-2 control-label"><?php echo $entry_email; ?></label>

                                            <div class="col-sm-10">
                                                <input type="text" value="<?php echo $email; ?>" class="form-control"
                                                    readonly="readonly" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="input-message"
                                                class="col-sm-2 control-label"><?php echo $entry_email; ?></label>

                                            <div class="col-sm-10">
                                                <textarea rows="5" class="form-control" id="input-message"
                                                    readonly="readonly"><?php echo $message; ?></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="input-status" class="col-sm-2 control-label">
                                                <?php echo $entry_status; ?></label>

                                            <div class="col-sm-10">
                                                <select name="status" class="form-control" id="input-status">
                                                    <option value="read"
                                                        <?php echo $status == 'read' ? 'selected="selected"' : '' ?>>
                                                        Select an Option</option>
                                                    <option value="Attempted to Contact"
                                                        <?php echo $status == 'Attempted to Contact' ? 'selected="selected"' : '' ?>>
                                                        Attempted
                                                        to Contact
                                                    </option>
                                                    <option value="Cold"
                                                        <?php echo $status == 'Cold' ? 'selected="selected"' : '' ?>>
                                                        Cold
                                                    </option>
                                                    <option value="Contact in Future"
                                                        <?php echo $status == 'Contact in Future' ? 'selected="selected"' : '' ?>>
                                                        Contact
                                                        in Future
                                                    </option>
                                                    <option value="Contacted"
                                                        <?php echo $status == 'Contacted' ? 'selected="selected"' : '' ?>>
                                                        Contacted</option>
                                                    <option value="Hot"
                                                        <?php echo $status == 'Hot' ? 'selected="selected"' : '' ?>>
                                                        Hot
                                                    </option>
                                                    <option value="Junk Lead"
                                                        <?php echo $status == 'Junk Lead' ? 'selected="selected"' : '' ?>>
                                                        Junk Lead</option>
                                                    <option value="Lost Lead"
                                                        <?php echo $status == 'Lost Lead' ? 'selected="selected"' : '' ?>>
                                                        Lost Lead</option>
                                                    <option value="Not Contacted"
                                                        <?php echo $status == 'Not Contacted' ? 'selected="selected"' : '' ?>>
                                                        Not
                                                        Contacted</option>
                                                    <option value="Pre Qualified"
                                                        <?php echo $status == 'Pre Qualified' ? 'selected="selected"' : '' ?>>
                                                        Pre
                                                        Qualified</option>
                                                    <option value="Qualified"
                                                        <?php echo $status == 'Qualified' ? 'selected="selected"' : '' ?>>
                                                        Qualified</option>
                                                    <option value="Warm"
                                                        <?php echo $status == 'Warm' ? 'selected="selected"' : '' ?>>
                                                        Warm
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form><!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
<?php echo $footer; ?>